

.index__body{
    background-image: url(/img/emilia-home.jpg);
    background-size:80%;
    background-repeat: no-repeat;
    background-position: right;
    ;
}

.header_vertical ul li{
    margin: 10px 0px 10px  ;
    font-size: 16px;
}
.index_margin{
    margin-left: 20px;
}
.index__body h3{
    margin: 150px 0px;
    font-size: 40px;
}
.index__body h1{
    background-color: rgba(255, 255, 255, 0.5);
    font-size:50px ; 
}
