<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="">
    <script src="https://kit.fontawesome.com/28ad30bb99.js" crossorigin="anonymous"></script>
    <title>Emilia Cole</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/">HOME</a></li> 
                <li><a href="/about" target="_blank" >ABOUT</a></li> 
                <li><a href="/music" target="_blank" >MUSIC</a></li> 
                <li><a href="/contact" target="_blank" >CONTACT</a></li> 
            </ul>
        </nav>
        <ul>
            <li><a href="https://twiter.com/?lang=es"target="_blank"><i class="fa-brands fa-square-x-twitter"></i></a></li>
            <li><a href="https://www.facebook.com/" target="_blank"><i class="fa-brands fa-facebook" style="color: #1e3050;"></i></a></li>
            <li><a href="https://spotyfy.com/ar/intl-es/"target="_blank"><i class="fa-brands fa-spotify"></i></a></li>
            <li><a href="https://www.apple.com"target="_blank"><i class="fa-brands fa-apple"></i></a></li>
            <li><a href="https://www.amazon.com"target="_blank"><i class="fa-brands fa-amazon"></i></a></li>
            <li><a href="https://www.instagram.com"target="_blank"><i class="fa-brands fa-instagram"></i></a></li>
        </ul>
    </header>
    <section>
        <h3>EMILIA <br> COLE//</h3>
        <H1>TWIST IN MY RAELITY</H1>
        <a href="/music"><button>click aqui</button></a>
        <img src="img/emilia-home.jpg" alt="imagen de portada" width="100%">
    </section>
    
</body>
</html>