<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="">
    <script src="https://kit.fontawesome.com/28ad30bb99.js" crossorigin="anonymous"></script>
    <title>Emilia Cole-music</title>
</head>
<body>
    <header id="top">
        <nav>
           <img src="/img/emilia-music-top.jpg" alt="background header">
            <ul>
                <li><a href="/">HOME</a></li> 
                <li><a href="/about" target="_blank">ABOUT</a></li> 
                <li><a href="/music" target="_blank">MUSIC</a></li> 
                <li><a href="/contact" target="_blank">CONTACT</a></li> 
            </ul>
        </nav>
        <ul>
            <li><a href="https://twiter.com/?lang=es"target="_blank"><i class="fa-brands fa-square-x-twitter"></i></a></li>
            <li><a href="https://www.facebook.com/" target="_blank"><i class="fa-brands fa-facebook" style="color: #1e3050;"></i></a></li>
            <li><a href="https://spotyfy.com/ar/intl-es/"target="_blank"><i class="fa-brands fa-spotify"></i></a></li>
            <li><a href="https://www.apple.com"target="_blank"><i class="fa-brands fa-apple"></i></a></li>
            <li><a href="https://www.amazon.com"target="_blank"><i class="fa-brands fa-amazon"></i></a></li>
            <li><a href="https://www.instagram.com"target="_blank"><i class="fa-brands fa-instagram"></i></a></li>
        </ul>
    </header>
    <section>
        <h1>MUSIC //</h1>
        <h4>Direct link</h4>
        <ul>
            <li><a href="#imagen">Album</a></li>
            <li><a href="#video1">Video: Organic Love</a></li>
            <li><a href="#video2">Street Ligth</a></li>
        </ul>

        <articlce>
            <h2>ALBUM <br> TWIST IN MY REALITY</h2>
            <img id="imagen" src="/img/emilia-play-list.png" alt="imagen del Album">
            <ol>
                <li>Organic Love | 02:40</li>
                <li>Twist in My Reality | 02:10</li>
                <li>Street Ligth | 03:28</li>
                <li>Love Dont Live Here Anymore(Cover) | 03:49</li>
            </ol>
            <h4>Go Top</h4>
        </articlce>
        <articlce id="video1">
            <h2>VIDEO <br> ORGANIC LOVE </h2>
            <iframe src="https://player.vimeo.com/video/135166028?h=fdb0646ae5" width="640" height="360" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
            <h6>Directed by VINCE MALC & EMILIA COLE<br>Edited and Filmed by NICOLAS TROY<br>Produced by NIKI HEART,<br>Wix Films LTD </h6>
            <h4>Go Top</h4>
        </articlce>
        <articlce id="video2">
            <h2>VIDEO <br>STREET LIGHT</h2>
            <iframe src="https://player.vimeo.com/video/134861419?h=24e3183108" width="640" height="360" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
            <h6>Directed by VINCE MALC & EMILIA COLE<br>Edited and Filmed by NICOLAS TROY<br>Produced by NIKI HEART,<br>Wix Films LTD</h6>
            <a href="#top"><h4>Go Top</h4></a>
        </articlce>
    </section> 
    
</body>
</html>